#Eclipse and project specific files
.classpath
.project
.settings/
.springBeans
.DS_Store

#Build folder
target/

#Property files
private/
src/test/resources/app.properties

#Logs folder
logs/
app.log
