#Eclipse and project specific files
.classpath
.project
.settings/
.springBeans
.DS_Store
# IntelliJ IDEA
.idea
*.iml

#Build folder
target/

#Property files
private/
src/test/resources/app.properties

#Logs folder
logs/
app.log

#Lucene Indicies
indices/
