<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<context:annotation-config />

	<context:component-scan base-package="com.eqan">
		<context:exclude-filter type="regex"
			expression="com\.eqan\.web\.controller\..*" />
	</context:component-scan>
	
	<context:property-placeholder location="classpath:app.properties" />

	<!-- JDBC Setup -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://localhost:5432/eqan?currentSchema=rain_predictor" />
		<property name="username" value="${POSTGRES_USERNAME}" />
		<property name="password" value="${POSTGRES_PASSWORD}" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Spring Security Setup -->
	<security:http pattern="/users/register" security="none" />
	<security:http pattern="/users/authenticate" security="none" />
	
	<security:http pattern="/users/**" entry-point-ref="restAuthenticationEntryPoint" create-session="stateless">
		<security:csrf disabled="true" />
		<security:custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter" />
	</security:http>
	
	<bean id="jwtAuthenticationFilter" class="com.eqan.web.security.JwtAuthenticationFilter">
		<constructor-arg ref="jwtAuthenticationProvider" />
	</bean>
	
	<!--  Just to Satisfy Spring Security requirements. Maybe use later.-->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="jwtAuthenticationProvider" />
    </security:authentication-manager>
</beans>
